doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title MusicBand - Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/png', sizes='180x180', href='assets/favicon.png')

        //FancyBox
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")

        // Google fonts
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@100;300;400;700&display=swap', rel='stylesheet')
        
        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Sections
        include includes/sections/navigation
        include includes/sections/masthead
        include includes/sections/videos
        include includes/sections/releases
        include includes/sections/bio
        include includes/sections/musicians
        include includes/sections/gallery
        include includes/sections/contact
        include includes/sections/footer

        // Releases Modals
        include includes/modals/release-modal-1
        include includes/modals/release-modal-2
        include includes/modals/release-modal-3
        include includes/modals/release-modal-4

        // Musicians Modals
        include includes/modals/musician-modal-1
        include includes/modals/musician-modal-2
        include includes/modals/musician-modal-3

        // JQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js') 
        // FancyBox
        script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js') 

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        
        // Core theme JS
        script(src='js/scripts.js')
