doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title MusicBand - Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Fancybox
        link(href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    img(src='assets/img/navbar-logo.svg', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#videos') Videos
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#music') Music
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#members') Members
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#gallery') Gallery
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead.parallax-window(data-parallax="scroll", data-image-src="https://picsum.photos/id/1082/1280/720")
            .container
                .masthead-subheading Welcome!
                .masthead-heading.text-uppercase It's Nice To Meet You
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#videos') 
                    i.fas.fa-angle-double-down
                    | Continuar  
                    i.fas.fa-angle-double-down
                    

        // Videos
        section#videos.videos.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Videos
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-6.col-sm-6
                        .video-item
                            a.video-link(href='https://picsum.photos/id/1082/1280/720', data-fancybox)
                                .video-hover
                                    .video-hover-content
                                        i.fas.fa-play.fa-3x
                                img.img-fluid(src='https://picsum.photos/id/1082/1280/720', alt='')
                            .video-caption
                                .video-caption-heading Title
                                .video-caption-subheading.text-muted Subtitle
                    .col-lg-6.col-sm-6
                        .video-item
                            a.video-link(href='https://picsum.photos/id/145/1280/720', data-fancybox)
                                .video-hover
                                    .video-hover-content
                                        i.fas.fa-play.fa-3x
                                img.img-fluid(src='https://picsum.photos/id/145/1280/720', alt='')
                            .video-caption
                                .video-caption-heading Title
                                .video-caption-subheading.text-muted Subtitle

        // Music
        section#music.portfolio.page-section.bg-dark
            .container
                .text-center
                    h2.section-heading.text-uppercase Music
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-3.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/music/01.jpg', alt='')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Title
                            //-     .portfolio-caption-subheading.text-muted Subtitle
                    .col-lg-3.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/music/02.jpg', alt='')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Title
                            //-     .portfolio-caption-subheading.text-muted Subtitle
                    .col-lg-3.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/music/03.jpg', alt='')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Title
                            //-     .portfolio-caption-subheading.text-muted Subtitle
                    .col-lg-3.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/music/04.jpg', alt='')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Title
                            //-     .portfolio-caption-subheading.text-muted Subtitle

                .row.py-5
                    .col-md-12.my-3
                        .d-flex.flex-column.flex-sm-row.flex-wrap.justify-content-center
                            a.my-3(href='#!')
                                img.img-fluid.d-block.mx-auto(src='assets/img/logos/spotify.png', alt='')
                            a.my-3(href='#!')
                                img.img-fluid.d-block.mx-auto(src='assets/img/logos/deezer.png', alt='')
                            a.my-3(href='#!')
                                img.img-fluid.d-block.mx-auto(src='assets/img/logos/applemusic.png', alt='')
                            a.my-3(href='#!')
                                img.img-fluid.d-block.mx-auto(src='assets/img/logos/amazonmp3.png', alt='')  
                            a.my-3(href='#!')
                                img.img-fluid.d-block.mx-auto(src='assets/img/logos/bandcamp.svg', alt='')  

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='https://picsum.photos/id/883/300/300', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 2009-2011
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='https://picsum.photos/id/453/300/300', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 March 2011
                                h4.subheading A Band is Born
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='https://picsum.photos/id/452/300/300', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 December 2012
                                h4.subheading On the Road
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='https://picsum.photos/id/304/300/300', alt='')
                        .timeline-panel
                            .timeline-heading
                                h4 July 2014
                                h4.subheading Into the Studio
                            .timeline-body
                                p.text-muted
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!

        // Members
        section#members.page-section.bg-dark
            .container
                .text-center
                    h2.section-heading.text-uppercase Members
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='')
                            h4 Kay Garland
                            p.text-muted Vocals / Guitar
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='')
                            h4 Larry Parker
                            p.text-muted Bass
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='')
                            h4 Diana Petersen
                            p.text-muted Drums
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-twitter
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-facebook-f
                            a.btn.btn-primary.btn-social.mx-2(href='#!')
                                i.fab.fa-linkedin-in
                //- .row
                //-     .col-lg-8.mx-auto.text-center
                //-         p.large.text-muted
                //-             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.


        // Gallery
        section#gallery.portfolio.page-section.section-gallery
            .row.no-gutters
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1028/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1028/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/103/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/103/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1033/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1033/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1039/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1039/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1047/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1047/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1048/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1048/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1065/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1065/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/1073/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/1073/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/110/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/110/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/116/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/116/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/142/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/142/600/600.jpg', alt='')
                .col-lg-2.col-md-3.col-sm-4
                    .portfolio-item
                        a.portfolio-link(href='https://picsum.photos/id/155/1280/720.jpg', data-fancybox='gallery', data-caption='Caption')
                            .portfolio-hover
                                .portfolio-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='https://picsum.photos/id/155/600/600.jpg', alt='')

        
        // Contact
        section#contact.page-section.parallax-window(data-parallax="scroll", data-image-src="https://picsum.photos/id/122/1920/1080?blur&random=1")
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                //- form#contactForm(name='sentMessage', novalidate='novalidate')
                //-     .row.align-items-stretch.mb-5
                //-         .col-md-6
                //-             .form-group
                //-                 input#name.form-control(type='text', placeholder='Your Name *', required='required', data-validation-required-message='Please enter your name.')
                //-                 p.help-block.text-danger
                //-             .form-group
                //-                 input#email.form-control(type='email', placeholder='Your Email *', required='required', data-validation-required-message='Please enter your email address.')
                //-                 p.help-block.text-danger
                //-             .form-group.mb-md-0
                //-                 input#phone.form-control(type='tel', placeholder='Your Phone *', required='required', data-validation-required-message='Please enter your phone number.')
                //-                 p.help-block.text-danger
                //-         .col-md-6
                //-             .form-group.form-group-textarea.mb-md-0
                //-                 textarea#message.form-control(placeholder='Your Message *', required='required', data-validation-required-message='Please enter a message.')
                //-                 p.help-block.text-danger
                //-     .text-center
                //-             #success
                //-             button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message

                .row.align-items-center
                    .col-lg-12.text-center
                        a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                            i.fab.fa-instagram.fa-2x
                        a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                            i.fab.fa-youtube.fa-2x
                        a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                            i.fab.fa-facebook-f.fa-2x
                        a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                            i.fab.fa-twitter.fa-2x

        // Footer
        footer.footer.py-4.bg-dark
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                        | Copyright © Your Website 2021
                    .col-lg-4.my-3.my-lg-0
                        //- a.btn.btn-light.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-instagram
                        //- a.btn.btn-light.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-youtube
                        //- a.btn.btn-light.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-facebook-f
                        //- a.btn.btn-light.btn-social.mx-2(href='#!')
                        //-     i.fab.fa-twitter
                    .col-lg-4.text-lg-right
                        a.mr-3(href='#!') Privacy Policy
                        a(href='#!') Terms of Use

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/music/01.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Threads
                                        li Category: Illustration
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/music/02.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Explore
                                        li Category: Graphic Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/music/03.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Finish
                                        li Category: Identity
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar


        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg", alt='Close modal')
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/music/04.jpg', alt='')
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Finish
                                        li Category: Identity
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Cerrar

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Fancybox and parallax
        script(src='assets/parallax.js/parallax.min.js')
        script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
        
        // Contact form JS
        //- script(src='assets/mail/jqBootstrapValidation.js')
        //- script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')