// Contact
section#contact.page-section.section-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Contact Us
            h3.section-subheading Lorem ipsum dolor sit amet consectetur.


        .row.align-items-center.pb-5
            .col-lg-12.text-center
                a.btn.btn-primary.btn-xl.mx-2(href='#!')
                    i.far.fa-file-pdf
                    | Rider
                a.btn.btn-secondary.btn-xl.mx-2(href='#!')
                    i.far.fa-file-pdf
                    | Brochure
        
        .row.align-items-center
            .col-lg-12.text-center
                a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                    i.fab.fa-instagram.fa-2x
                a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                    i.fab.fa-youtube.fa-2x
                a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                    i.fab.fa-facebook-f.fa-2x
                a.btn.btn-dark.btn-social-contact.mx-2(href='#!')
                    i.fab.fa-twitter.fa-2x