// Gallery
section#gallery.portfolio.page-section.section-gallery
    .row.g-0
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href="assets/img/gallery/1028-1280x720.jpg", data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img(src='assets/img/gallery/1028-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/103-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/103-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/1033-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/1033-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/1039-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/1039-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/1047-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/1047-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/1048-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/1048-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/1065-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/1065-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/1073-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/1073-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/110-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/110-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/116-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/116-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/142-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/142-1280x720.jpg', alt='')
        .col-lg-2.col-md-3.col-sm-4
            .portfolio-item
                a.portfolio-link(href='assets/img/gallery/155-1280x720.jpg', data-fancybox='gallery01', data-caption='Photo')
                    .portfolio-hover
                        .portfolio-hover-content
                            i.fas.fa-plus.fa-3x
                    .square-container
                        .square-content
                            img.img-fluid(src='assets/img/gallery/155-1280x720.jpg', alt='')