// Masthead
header.masthead
    .container
        .masthead-subheading Welcome!
        .masthead-heading.text-uppercase It's Nice To Meet You
        a.btn.btn-primary.btn-xl.text-uppercase(href='#videos') 
            i.fas.fa-angle-double-down
            | Continue  
            i.fas.fa-angle-double-down