// Musicians
section#musicians.page-section.bg-dark.section-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Musicians
            h3.section-subheading Lorem ipsum dolor sit amet consectetur.
        .row
            .col-lg-4
                .musician
                    .musician-item
                        a.musician-link(data-bs-toggle='modal', href='#musicianModal1')
                            .musician-hover
                                .musician-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid.musician-image(src='assets/img/musicians/1.jpg', alt='')
                    h4 Kay Garland
                    p Vocals / Guitar
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-instagram
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-facebook-f
            .col-lg-4
                .musician
                    .musician-item
                        a.musician-link(data-bs-toggle='modal', href='#musicianModal2')
                            .musician-hover
                                .musician-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid.musician-image(src='assets/img/musicians/2.jpg', alt='')
                    h4 Larry Parker
                    p Bass
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-instagram
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-facebook-f
            .col-lg-4
                .musician
                    .musician-item
                        a.musician-link(data-bs-toggle='modal', href='#musicianModal3')
                            .musician-hover
                                .musician-hover-content
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid.musician-image(src='assets/img/musicians/3.jpg', alt='')
                    h4 Diana Petersen
                    p Drums
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-instagram
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.btn.btn-primary.btn-social.mx-2(href='#!')
                        i.fab.fa-facebook-f
        .row
            .col-lg-8.mx-auto.text-center
                .lead
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
