// Music
section#releases.portfolio.page-section.bg-dark.section-dark
    .container
        .text-center
            h2.section-heading.text-uppercase Music
            h3.section-subheading Lorem ipsum dolor sit amet consectetur.
        .row
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#releaseModal1')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/releases/1.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading All Things New
                        .portfolio-caption-subheading 2010
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#releaseModal2')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/releases/2.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Renegade Waves
                        .portfolio-caption-subheading 2013
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#releaseModal3')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/releases/3.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading Jungle - The Hits
                        .portfolio-caption-subheading 2015
            .col-lg-3.col-sm-6.mb-4
                .portfolio-item
                    a.portfolio-link(data-bs-toggle='modal', href='#releaseModal4')
                        .portfolio-hover
                            .portfolio-hover-content
                                i.fas.fa-plus.fa-3x
                        img.img-fluid(src='assets/img/releases/4.jpg', alt='')
                    .portfolio-caption
                        .portfolio-caption-heading The Alternative
                        .portfolio-caption-subheading 2020

        .row.py-1
            .col-md-12.my-3
                .d-flex.flex-column.flex-sm-row.flex-wrap.justify-content-center
                    a.streaming-service.my-3(href='#!')
                        img.img-fluid.d-block.mx-auto(src='assets/img/logos/spotify.svg', alt='')
                    a.streaming-service.my-3(href='#!')
                        img.img-fluid.d-block.mx-auto(src='assets/img/logos/deezer.svg', alt='')
                    a.streaming-service.my-3(href='#!')
                        img.img-fluid.d-block.mx-auto(src='assets/img/logos/applemusic.svg', alt='')
                    a.streaming-service.my-3(href='#!')
                        img.img-fluid.d-block.mx-auto(src='assets/img/logos/amazonmusic.svg', alt='')  
                    a.streaming-service.my-3(href='#!')
                        img.img-fluid.d-block.mx-auto(src='assets/img/logos/bandcamp.svg', alt='')  
