// Videos
section#videos.videos.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase Videos
            h3.section-subheading Lorem ipsum dolor sit amet consectetur.
        .row
            .pb-md-3.pb-lg-4.pb-xl-5
                .col-lg-12
                    .video-item
                        a.video-link(href='assets/img/videos/145-1280x720.jpg')
                            .video-hover
                                .video-hover-content
                                    i.fas.fa-play.fa-3x
                            img.img-fluid(src='assets/img/videos/145-1280x720.jpg', alt='')
                        .video-caption
                            .video-caption-heading Title
                            .video-caption-subheading.text-muted Subtitle
                            .video-caption-date.text-muted 2022-03-05
        .row
            .col-xxl-2.col-xl-4.col-sm-6
                .video-item
                    a.video-link(href='assets/img/videos/1004-1280x720.jpg')
                        .video-hover
                            .video-hover-content
                                i.fas.fa-play.fa-2x
                        img.img-fluid(src='assets/img/videos/1004-1280x720.jpg', alt='')
                    .video-caption
                        .video-caption-heading Title
                        .video-caption-subheading.text-muted Subtitle
                        .video-caption-date.text-muted 2022-03-05
            .col-xxl-2.col-xl-4.col-sm-6
                .video-item
                    a.video-link(href='assets/img/videos/1042-1280x720.jpg')
                        .video-hover
                            .video-hover-content
                                i.fas.fa-play.fa-2x
                        img.img-fluid(src='assets/img/videos/1042-1280x720.jpg', alt='')
                    .video-caption
                        .video-caption-heading Title
                        .video-caption-subheading.text-muted Subtitle
                        .video-caption-date.text-muted 2022-03-05
            .col-xxl-2.col-xl-4.col-sm-6
                .video-item
                    a.video-link(href='assets/img/videos/1049-1280x720.jpg')
                        .video-hover
                            .video-hover-content
                                i.fas.fa-play.fa-2x
                        img.img-fluid(src='assets/img/videos/1049-1280x720.jpg', alt='')
                    .video-caption
                        .video-caption-heading Title
                        .video-caption-subheading.text-muted Subtitle
                        .video-caption-date.text-muted 2022-03-05
            .col-xxl-2.col-xl-4.col-sm-6
                .video-item
                    a.video-link(href='assets/img/videos/1067-1280x720.jpg')
                        .video-hover
                            .video-hover-content
                                i.fas.fa-play.fa-2x
                        img.img-fluid(src='assets/img/videos/1067-1280x720.jpg', alt='')
                    .video-caption
                        .video-caption-heading Title
                        .video-caption-subheading.text-muted Subtitle
                        .video-caption-date.text-muted 2022-03-05